{% extends 'crm/templates/base.html' %}
{% load bootstrap_icons %}
{% block content %}
      <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name of the book</th>
        <th>Author</th>
          <th>Publishers</th>
      </tr>
    </thead>
    <tbody>
      {% for author in get_author_books %}
        <tr>
          <td>{{ author.name }}</td>
        <td>{{ get_author }}</td>
        <td>{{ author.publisher }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% endblock %}
    </div>
