{% extends 'crm/templates/base.html' %}
{% load bootstrap_icons %}
{% block content %}
    <div class="container">
      <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      {% for author in authors_all %}
          <tr>
<td><a href="{{ author }}">{{ author.name }}</a></td>
        <td>{{ author.age }}</td>
          {% endfor %}
      <tr>
        <th>Young author</th>
        <th>Age</th>
      </tr>
      {% for author in young_authors %}
          <tr>
          <td><a href="{{ author }}">{{ author.name }}</a></td>
        <td>{{ author.age }}</td>
        </tr>



      {% endfor %}
    </tbody>
  </table>
    {% endblock %}
    </div>




