{% extends 'crm/templates/base.html' %}
{% load bootstrap_icons %}
{% block content %}
    <div class="container">
      <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Store Name</th>
          <th>AVG Book Price</th>
      </tr>
    </thead>
    <tbody>
      {% for store in store_solo %}
        <tr>
          <td>{{ store.name }}</td>
        <td>{{ books_price_avg }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
    {% endblock %}



    </div>
