{% extends 'templates/base.html' %}
{% load bootstrap_icons %}
{% block br_cr %}{{ block.super }}/<a href="{% url 'crm:author_list' %}">Authors list</a>{% endblock %}
{% block content %}

      <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name of the book</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {% for author in author_list %}
        <tr>
        <td> <a href="{% url 'crm:author_detail' pk=author.pk %}"> {{ author.name }}</a> </td>
        <td>{{ author.age }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

    {% include "templates/pagination.html" with page=page_obj %}
    {% endblock %}
    </div>
