{% extends 'templates/base.html' %}
{% load bootstrap_icons %}
{% block content %}

      <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Author</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
          <td>{{ author_detail.name }}</td>
        <td>{{ author_detail.age }}</td>
        </tr>
    </tbody>
  </table>
   <div class="btn-group">
       <a href="{% url 'crm:author_update' object.id %}" class="btn btn-secondary">Update</a>
      <a href="{% url 'crm:author_delete' object.id %}" class="btn btn-danger">Delete</a>
    </div>
    {% endblock %}

