{% extends 'templates/base.html' %}
{% load bootstrap_icons %}
{% block content %}
        <div class="container">
      <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Total Books: {{ total_books }} </th>
      </tr>
    </thead>
      </table>
    <div class="container">
      <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
          <th>Pages</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Pub Date</th>
      </tr>
    </thead>
    <tbody>
      {% for book in object_list %}
        <tr>
          <td><a href="{{ book.name }}">{{ book.name }}</a></td>
            <td>{{ book.pages }}
          <td>{{ book.price }}</td>
            <td>{{ book.rating }}</td>
        <td>{{ book.pubdate }}</td>
        <td>{{ book.age }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% include "templates/pagination.html" with page=page_obj %}
    {% endblock %}
    </div>