<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="../../static/css/styles.css">
        <link rel="script" href="../../static/js/scripts.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link href='//fonts.googleapis.com/css2?family=Aboreto&display=swap' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="authors/">Authors</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="books/">Books</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="publishers/">Publishers</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="stores/">Stores</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:8000/crm/">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="../catalog/">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Hillel IT School</h1>
                    <p>Выполнять в новом приложении. Можете так же создать под это ДЗ новый репозиторий с новым проектом (Не забыть все обязательные шаги - <code>secret key, flake8, travis, gitignore, requirements, readme)</code>
Добавить ddt (Django debug toolbar).</p>
<p> Использовать в приложении модели из джанго доки
    <code>https://docs.djangoproject.com/en/4.0/topics/db/aggregation/</code>
заполнить базу большим количеством данных и предоставить мне возможность так же быстро заполнить базу (сделайте оба варианта, но ожидаю как минимум один из):
1) создать менеджмент команду
2) создать фикстуры (dumpdata loaddata менеджмент команды) (только модель пользователя и новые модели из приложения)
Добавить модели в админку. Постараться использовать больше функционала (inline, фильтры, серчи, вывод и группировка полей в форме, filter_vertical, date_hierarchy...)
</p>
Создать несколько темплейтов, вьюшек, урлов для вывода данных по моделям. (Только вывод данных из базы, без форм)
<p>в вьюшках и темплейтах нужно стараться минимизировать количество запросов в базу. (Префетчи, селекты, аннотации, агрегации)</p>
На страницах выводить списки (в таблицах) или единичный элемент - например список магазинов или одного автора. Помимо полей из модели обязательно выводить что-то ещё полученное с использованием «Префетчи, селекты, аннотации, агрегации».
количество доступных страниц - 8 (по странице списка и странице элемента на каждую модель)
                    <p>со списка можно попасть на страницу элемента по ссылке которую вы должны сгенерировать в темплейте для каждой страницы
    с дитейл страницы должна быть ссылка на список
                    </p>
                    <p><b>Total authors:</b> {{ total_authors }} </p>
                    <p><b>Average price of book:</b> {{ average_price }}</p>
                </div>
            </div>
        </div>
    </body>
</html>
